In [39]:
from fonction import *

In [65]:
df = pd.read_csv('games.csv')
df['winner'] = df['winner'].replace('white', 0).replace('black', 1)
df = df[df['winner'] == 1]
Mouves = pd.DataFrame(df.moves)

for n in range(len(Mouves)):
    Mouves.moves.iloc[n] = Mouves.moves.iloc[n].split()

Mouves = Mouves.reset_index()
m = Mouves.moves
m1 = [m[i] for i in range(2000)]
m2 = [m[i] for i in range(2000,4000)]
m3 = [m[i] for i in range(4000,6000)]
m4 = [m[i] for i in range(6000,8000)]
m5 = [m[i] for i in range(8000,9107)]

In [67]:
def main0(l):   
    partie = run()
    n = 0
    convert = []
    for i in l:
        if n <= len(l):
            deck = deck_chess(partie)
            a,b,c,d = where(i, deck[0],n,partie)
            #print(partie[a][b],i,a,b,c,d), print(n, len(deck))            
            convert.append((a,b,c,d))
        if a == b == c == d == 9:
            return convert
        if a == b == c == d == 0:
            #print('error')
            return False
        partie[c][d]=partie[a][b]
        partie[c][d].x = c
        partie[c][d].y = d
        partie[a][b] = vide
        #affiche(partie)
        n += 1
    return convert

In [68]:
convert1 = [main0(m1[i]) for i in range(len(m1)) if main0(m1[i]) != False]
print(True,1)
convert2 = [main0(m2[i]) for i in range(len(m2)) if main0(m2[i]) != False]
print(True, 2)
convert3 = [main0(m3[i]) for i in range(len(m3)) if main0(m3[i]) != False]
print(True, 3)
convert4 = [main0(m4[i]) for i in range(len(m4)) if main0(m4[i]) != False]
print(True, 4)
convert5 = [main0(m5[i]) for i in range(len(m5)) if main0(m5[i]) != False]
print(True,5)

True 1
True 2
True 3
True 4
True 5

In [70]:
A = len(convert1) + len(convert2) + len(convert3) + len(convert4) + len(convert5)

In [74]:
B = len(m)
perte = (B - A)/A
perte

0.11210159970692392

In [76]:
import pickle
with open("convert_commande", 'wb') as f:
    pickle.dump([convert1, convert2,convert3,convert4, convert5], f, pickle.HIGHEST_PROTOCOL)

In [83]:
a = 0
for i in range(len(convert1)):
    a += len(convert1[i])
print(a/len(convert1))

57.03333333333333

In [91]:
def main(l):   
    partie = run()
    n = 0
    chess_features = np.array(['val','n','coup','Coordonées','Destination','Step','Will_Kill','Safe_position',
          '1',"2","3",'4',"5","6","7","8","9","10","11","12","13","14","15","16",
          "17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32",
         'Chess_bad', 'Chess_good', 'Warning_w','Warning_b','Area_w','Area_b','Nb_w','Nb_b',
          'Color','Play_target',
            'p_Step','p_Will_Kill','p_warning_position','p_Chess_bad', 'p_Chess_good', 
          'p1',"p2","p3",'p4',"p5","p6","p7","p8","p9","p10","p11","p12","p13","p14","p15","p16",
          "p17","p18","p19","p20","p21","p22","p23","p24","p25","p26","p27","p28","p29","p30","p31","p32",
         'p_Warning_w','p_Warning_b','p_Area_w','p_Area_b','p_Nb_w','p_Nb_b'
         ])
    
    df_mouve = pd.DataFrame(columns=chess_features) 
    
    for i in l:
        if n <= len(l):
            deck = deck_chess(partie)
            a,b,c,d = where(i, deck[0],n,partie)
            dff = features(partie,deck,list_mouve,a,b,c,d,n)
            #print(a,b,c,d), print(n, len(deck))      
            df_mouve = pd.concat([df_mouve,dff],axis=0)
            
            partie[c][d]=partie[a][b]
            partie[c][d].x = c
            partie[c][d].y = d
            partie[a][b] = vide
        else: return df_mouve.reset_index()
        if a == b == c == d == 9:
            return df_mouve.reset_index()
        
        """display(df_mouve[df_mouve['coup']== n][['val','n','coup','Coordonées','Destination','Step','Will_Kill','Safe_position',
             'Warning_w','Warning_b','Area_w','Area_b',
            'p_Step','p_Will_Kill','p_warning_position', 
             'p_Warning_w','p_Warning_b','p_Area_w','p_Area_b','Play_target',]])"""
        #affiche(partie)
        n += 1
        
        if a == b == c == d == 0:
            print('error')
            return df_mouve.reset_index()
    return df_mouve.reset_index()

In [104]:
t0 = datetime.now()
print(t0)
partie = run()
n = 0
chess_features = np.array(['val','n','coup','Coordonées','Destination','Step','Will_Kill','Safe_position',
      '1',"2","3",'4',"5","6","7","8","9","10","11","12","13","14","15","16",
      "17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32",
     'Chess_bad', 'Chess_good', 'Warning_w','Warning_b','Area_w','Area_b','Nb_w','Nb_b',
      'Color','Play_target',
        'p_Step','p_Will_Kill','p_warning_position','p_Chess_bad', 'p_Chess_good', 
      'p1',"p2","p3",'p4',"p5","p6","p7","p8","p9","p10","p11","p12","p13","p14","p15","p16",
      "p17","p18","p19","p20","p21","p22","p23","p24","p25","p26","p27","p28","p29","p30","p31","p32",
     'p_Warning_w','p_Warning_b','p_Area_w','p_Area_b','p_Nb_w','p_Nb_b'
     ])
df_mouve = pd.DataFrame(columns=chess_features)

for i in convert1:
    for u in i:
        a, b, c, d = u[0], u[1], u[2], u[3]
        deck = deck_chess(partie)
        print(a, b, c, d)
        dff = features(partie,deck,list_mouve,a,b,c,d,n)
        #print(a,b,c,d), print(n, len(deck))      
        df_mouve = pd.concat([df_mouve,dff],axis=0)
        partie[c][d]=partie[a][b]
        partie[c][d].x = c
        partie[c][d].y = d
        partie[a][b] = vide
        n += 1
        affiche(partie)

2020-05-28 22:13:18.487486
3 1 3 3

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝       ♛       ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __        ♟       ♟       ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __        ♟     __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙       ♙       ♙       ♙       ♙
8       ♖       ♘       ♗       ♕       ♔       ♗       ♘       ♖

1 7 2 5

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝       ♛       ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __        ♟       ♟       ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __        ♟     __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __        ♘     __      __      __      __      __
7       ♙       ♙       ♙       ♙       ♙       ♙       ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

4 1 4 3

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝       ♛       ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __      __        ♟       ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __        ♟       ♟     __      __      __
5     __      __      __      __      __      __      __      __
6     __      __        ♘     __      __      __      __      __
7       ♙       ♙       ♙       ♙       ♙       ♙       ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

4 6 4 4

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝       ♛       ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __      __        ♟       ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __        ♟       ♟     __      __      __
5     __      __      __      __        ♙     __      __      __
6     __      __        ♘     __      __      __      __      __
7       ♙       ♙       ♙       ♙     __        ♙       ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

5 1 5 3

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝       ♛       ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __        ♟       ♟       ♟     __      __
5     __      __      __      __        ♙     __      __      __
6     __      __        ♘     __      __      __      __      __
7       ♙       ♙       ♙       ♙     __        ♙       ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

5 6 5 5

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝       ♛       ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __        ♟       ♟       ♟     __      __
5     __      __      __      __        ♙     __      __      __
6     __      __        ♘     __      __        ♙     __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

3 3 4 4

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝       ♛       ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __      __        ♟       ♟     __      __
5     __      __      __      __        ♟     __      __      __
6     __      __        ♘     __      __        ♙     __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

5 5 4 4

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝       ♛       ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __      __        ♟       ♟     __      __
5     __      __      __      __        ♙     __      __      __
6     __      __        ♘     __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

5 3 4 4

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝       ♛       ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __      __        ♟     __      __      __
5     __      __      __      __        ♟     __      __      __
6     __      __        ♘     __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

2 5 4 4

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝       ♛       ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __      __        ♟     __      __      __
5     __      __      __      __        ♘     __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

3 0 3 3

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __        ♛       ♟     __      __      __
5     __      __      __      __        ♘     __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

4 4 2 5

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __        ♛       ♟     __      __      __
5     __      __      __      __      __      __      __      __
6     __      __        ♘     __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

3 3 4 4

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __      __        ♟     __      __      __
5     __      __      __      __        ♛     __      __      __
6     __      __        ♘     __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

2 5 4 4

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟       ♟     __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __      __      __        ♟     __      __      __
5     __      __      __      __        ♘     __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

2 1 2 3

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟     __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __      __        ♟     __        ♟     __      __      __
5     __      __      __      __        ♘     __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♗       ♘       ♖

5 7 1 3

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟     __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♗       ♟     __        ♟     __      __      __
5     __      __      __      __        ♘     __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

4 1 4 3

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟     __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♗       ♟     __      __      __      __      __
5     __      __      __      __        ♘     __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

1 7 2 5

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟     __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♗       ♟     __      __      __      __      __
5     __      __      __      __        ♘     __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

3 1 3 3

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟     __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♗       ♟     __      __      __      __      __
5     __      __      __      __        ♘     __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

4 6 4 4

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟     __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♗       ♟     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

3 3 3 4

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟     __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♗       ♟     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

2 5 4 6

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟     __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♗       ♟     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

2 1 2 2

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟     __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♗       ♟     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

4 6 6 5

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟       ♟     __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♗       ♟     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

1 1 1 3

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟     __      __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♟       ♟     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

4 1 4 3

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟     __      __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♟       ♟     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

4 6 4 4

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♝       ♞       ♜
2       ♟     __      __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♟       ♟     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

5 0 2 3

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚     __        ♞       ♜
2       ♟     __      __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♟       ♝     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

1 7 2 5

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚     __        ♞       ♜
2       ♟     __      __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♟       ♝     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

6 0 5 2

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚     __      __        ♜
2       ♟     __      __      __      __      __        ♟       ♟
3     __      __      __      __      __        ♞     __      __
4     __        ♟       ♝     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

2 5 3 3

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♜     __      __
2       ♟     __      __      __      __      __        ♟       ♟
3     __      __      __      __      __        ♞     __      __
4     __        ♟       ♝     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

3 1 3 2

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♜     __      __
2       ♟     __      __      __      __      __        ♟       ♟
3     __      __      __      __      __        ♞     __      __
4     __        ♟       ♝     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

3 3 5 2

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♜     __      __
2       ♟     __      __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♟       ♝     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

3 0 5 2

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♜     __      __
2       ♟     __      __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♟       ♝     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __      __      __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __        ♘       ♖

6 7 5 5

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♜     __      __
2       ♟     __      __      __      __      __        ♟       ♟
3     __      __      __      __      __      __      __      __
4     __        ♟       ♝     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __        ♘     __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔     __      __        ♖

7 1 7 2

        A       B       C       D       E       F       G       H
1       ♜       ♞       ♝     __        ♚       ♜     __      __
2       ♟     __      __      __      __      __        ♟     __
3     __      __      __      __      __      __      __        ♟
4     __        ♟       ♝     __      __      __      __      __
5     __      __      __      __      __      __      __      __
6     __      __      __      __      __        ♘     __      __
7       ♙       ♙       ♙       ♙     __      __        ♙       ♙
8       ♖     __        ♗       ♕       ♔       ♖     __      __

5 7 2 4

        A       B     C       D       E       F       G       H
1       ♜       ♞     ♝     __        ♚       ♜     __      __
2       ♟     __    __      __      __      __        ♟     __
3     __      __    __      __      __      __      __        ♟
4     __        ♟     ♝     __      __      __      __      __
5     __      __      ♖     __      __      __      __      __
6     __      __    __      __      __        ♘     __      __
7       ♙       ♙     ♙       ♙     __      __        ♙       ♙
8       ♖     __      ♗       ♕       ♔     __      __      __

0 1 0 2

        A       B     C       D       E       F       G       H
1       ♜       ♞     ♝     __        ♚       ♜     __      __
2     __      __    __      __      __      __        ♟     __
3       ♟     __    __      __      __      __      __        ♟
4     __        ♟     ♝     __      __      __      __      __
5     __      __      ♖     __      __      __      __      __
6     __      __    __      __      __        ♘     __      __
7       ♙       ♙     ♙       ♙     __      __        ♙       ♙
8       ♖     __      ♗       ♕       ♔     __      __      __

4 7 6 7

        A       B     C       D       E       F       G       H
1       ♜       ♞     ♝     __        ♚       ♜     __      __
2     __      __    __      __      __      __        ♟     __
3       ♟     __    __      __      __      __      __        ♟
4     __        ♟     ♝     __      __      __      __      __
5     __      __      ♖     __      __      __      __      __
6     __      __    __      __      __        ♘     __      __
7       ♙       ♙     ♙       ♙     __      __        ♙       ♙
8       ♖     __      ♗       ♕     __      __        ♔     __

2 0 4 2

        A       B     C       D       E       F       G       H
1       ♜       ♞   __      __        ♚       ♜     __      __
2     __      __    __      __      __      __        ♟     __
3       ♟     __    __      __        ♝     __      __        ♟
4     __        ♟     ♝     __      __      __      __      __
5     __      __      ♖     __      __      __      __      __
6     __      __    __      __      __        ♘     __      __
7       ♙       ♙     ♙       ♙     __      __        ♙       ♙
8       ♖     __      ♗       ♕     __      __        ♔     __

2 4 4 2

        A       B     C       D       E       F       G       H
1       ♜       ♞   __      __        ♚       ♜     __      __
2     __      __    __      __      __      __        ♟     __
3       ♟     __    __      __        ♖     __      __        ♟
4     __        ♟     ♝     __      __      __      __      __
5     __      __    __      __      __      __      __      __
6     __      __    __      __      __        ♘     __      __
7       ♙       ♙     ♙       ♙     __      __        ♙       ♙
8       ♖     __      ♗       ♕     __      __        ♔     __

5 2 4 2

        A       B     C       D       E       F       G       H
1       ♜       ♞   __      __        ♚       ♜     __      __
2     __      __    __      __      __      __        ♟     __
3       ♟     __    __      __      __      __      __        ♟
4     __        ♟     ♝     __      __      __      __      __
5     __      __    __      __      __      __      __      __
6     __      __    __      __      __        ♘     __      __
7       ♙       ♙     ♙       ♙     __      __        ♙       ♙
8       ♖     __      ♗       ♕     __      __        ♔     __

5 7 4 7

        A       B     C       D       E       F       G       H
1       ♜       ♞   __      __        ♚       ♜     __      __
2     __      __    __      __      __      __        ♟     __
3       ♟     __    __      __      __      __      __        ♟
4     __        ♟     ♝     __      __      __      __      __
5     __      __    __      __      __      __      __      __
6     __      __    __      __      __        ♘     __      __
7       ♙       ♙     ♙       ♙     __      __        ♙       ♙
8       ♖     __      ♗       ♕     __      __        ♔     __

4 2 5 2

        A       B     C       D       E       F       G       H
1       ♜       ♞   __      __        ♚       ♜     __      __
2     __      __    __      __      __      __        ♟     __
3       ♟     __    __      __      __      __      __        ♟
4     __        ♟     ♝     __      __      __      __      __
5     __      __    __      __      __      __      __      __
6     __      __    __      __      __        ♘     __      __
7       ♙       ♙     ♙       ♙     __      __        ♙       ♙
8       ♖     __      ♗       ♕     __      __        ♔     __

2 6 2 5

        A       B     C       D       E       F       G       H
1       ♜       ♞   __      __        ♚       ♜     __      __
2     __      __    __      __      __      __        ♟     __
3       ♟     __    __      __      __      __      __        ♟
4     __        ♟     ♝     __      __      __      __      __
5     __      __    __      __      __      __      __      __
6     __      __      ♙     __      __        ♘     __      __
7       ♙       ♙   __        ♙     __      __        ♙       ♙
8       ♖     __      ♗       ♕     __      __        ♔     __

1 0 2 2

        A       B     C       D       E       F       G       H
1       ♜     __    __      __        ♚       ♜     __      __
2     __      __    __      __      __      __        ♟     __
3       ♟     __      ♞     __      __      __      __        ♟
4     __        ♟     ♝     __      __      __      __      __
5     __      __    __      __      __      __      __      __
6     __      __      ♙     __      __        ♘     __      __
7       ♙       ♙   __        ♙     __      __        ♙       ♙
8       ♖     __      ♗       ♕     __      __        ♔     __

1 6 1 4

        A       B     C       D       E       F       G       H
1     __      __    __        ♜       ♚       ♜     __      __
2     __      __    __      __      __      __        ♟     __
3       ♟     __      ♞     __      __      __      __        ♟
4     __        ♟     ♝     __      __      __      __      __
5     __        ♙   __      __      __      __      __      __
6     __      __      ♙     __      __        ♘     __      __
7       ♙     __    __        ♙     __      __        ♙       ♙
8       ♖     __      ♗       ♕     __      __        ♔     __

2 3 1 2

        A       B     C       D       E       F       G       H
1     __      __    __        ♜       ♚       ♜     __      __
2     __      __    __      __      __      __        ♟     __
3       ♟       ♝     ♞     __      __      __      __        ♟
4     __        ♟   __      __      __      __      __      __
5     __        ♙   __      __      __      __      __      __
6     __      __      ♙     __      __        ♘     __      __
7       ♙     __    __        ♙     __      __        ♙       ♙
8       ♖     __      ♗       ♕     __      __        ♔     __

3 7 0 4

        A       B     C       D       E       F       G       H
1     __      __    __        ♜       ♚       ♜     __      __
2     __      __    __      __      __      __        ♟     __
3       ♟       ♝     ♞     __      __      __      __        ♟
4     __        ♟   __      __      __      __      __      __
5       ♕       ♙   __      __      __      __      __      __
6     __      __      ♙     __      __        ♘     __      __
7       ♙     __    __        ♙     __      __        ♙       ♙
8       ♖     __      ♗     __      __      __        ♔     __

4 0 6 0

        A       B     C       D       E       F       G       H
1     __      __    __        ♜     __        ♜       ♚     __
2     __      __    __      __      __      __        ♟     __
3       ♟       ♝     ♞     __      __      __      __        ♟
4     __        ♟   __      __      __      __      __      __
5       ♕       ♙   __      __      __      __      __      __
6     __      __      ♙     __      __        ♘     __      __
7       ♙     __    __        ♙     __      __        ♙       ♙
8       ♖     __      ♗     __      __      __        ♔     __

2 7 1 6

        A       B     C       D       E       F       G       H
1     __      __    __        ♜     __        ♜       ♚     __
2     __      __    __      __      __      __        ♟     __
3       ♟       ♝     ♞     __      __      __      __        ♟
4     __        ♟   __      __      __      __      __      __
5       ♕       ♙   __      __      __      __      __      __
6     __      __      ♙     __      __        ♘     __      __
7       ♙       ♗   __        ♙     __      __        ♙       ♙
8       ♖     __    __      __      __      __        ♔     __

2 2 4 1

        A       B     C       D       E       F       G       H
1     __      __    __        ♜     __        ♜       ♚     __
2     __      __    __      __        ♞     __        ♟     __
3       ♟       ♝   __      __      __      __      __        ♟
4     __        ♟   __      __      __      __      __      __
5       ♕       ♙   __      __      __      __      __      __
6     __      __      ♙     __      __        ♘     __      __
7       ♙       ♗   __        ♙     __      __        ♙       ♙
8       ♖     __    __      __      __      __        ♔     __

2 5 2 4

        A       B     C       D       E       F       G       H
1     __      __    __        ♜     __        ♜       ♚     __
2     __      __    __      __        ♞     __        ♟     __
3       ♟       ♝   __      __      __      __      __        ♟
4     __        ♟   __      __      __      __      __      __
5       ♕       ♙     ♙     __      __      __      __      __
6     __      __    __      __      __        ♘     __      __
7       ♙       ♗   __        ♙     __      __        ♙       ♙
8       ♖     __    __      __      __      __        ♔     __

5 0 3 0

        A       B     C       D       E       F       G       H
1     __      __    __        ♜     __      __        ♚     __
2     __      __    __      __        ♞     __        ♟     __
3       ♟       ♝   __      __      __      __      __        ♟
4     __        ♟   __      __      __      __      __      __
5       ♕       ♙     ♙     __      __      __      __      __
6     __      __    __      __      __        ♘     __      __
7       ♙       ♗   __        ♙     __      __        ♙       ♙
8       ♖     __    __      __      __      __        ♔     __

3 6 3 5

        A       B     C     D       E       F       G       H
1     __      __    __      ♜     __      __        ♚     __
2     __      __    __    __        ♞     __        ♟     __
3       ♟       ♝   __    __      __      __      __        ♟
4     __        ♟   __    __      __      __      __      __
5       ♕       ♙     ♙   __      __      __      __      __
6     __      __    __      ♙     __        ♘     __      __
7       ♙       ♗   __    __      __      __        ♙       ♙
8       ♖     __    __    __      __      __        ♔     __

2 1 2 3

        A       B     C     D       E       F       G       H
1     __      __    __      ♜     __      __        ♚     __
2     __      __    __    __        ♞     __        ♟     __
3       ♟       ♝   __    __      __      __      __        ♟
4     __        ♟   __    __      __      __      __      __
5       ♕       ♙     ♙   __      __      __      __      __
6     __      __    __      ♙     __        ♘     __      __
7       ♙       ♗   __    __      __      __        ♙       ♙
8       ♖     __    __    __      __      __        ♔     __

1 4 2 3

        A       B     C     D       E       F       G       H
1     __      __    __      ♜     __      __        ♚     __
2     __      __    __    __        ♞     __        ♟     __
3       ♟       ♝   __    __      __      __      __        ♟
4     __        ♟     ♙   __      __      __      __      __
5       ♕     __      ♙   __      __      __      __      __
6     __      __    __      ♙     __        ♘     __      __
7       ♙       ♗   __    __      __      __        ♙       ♙
8       ♖     __    __    __      __      __        ♔     __

3 2 2 3

        A       B     C     D       E       F       G       H
1     __      __    __      ♜     __      __        ♚     __
2     __      __    __    __        ♞     __        ♟     __
3       ♟       ♝   __    __      __      __      __        ♟
4     __        ♟   __    __      __      __      __      __
5       ♕     __      ♙   __      __      __      __      __
6     __      __    __      ♙     __        ♘     __      __
7       ♙       ♗   __    __      __      __        ♙       ♙
8       ♖     __    __    __      __      __        ♔     __

0 7 2 7

        A       B     C     D       E       F       G       H
1     __      __    __      ♜     __      __        ♚     __
2     __      __    __    __        ♞     __        ♟     __
3       ♟       ♝   __    __      __      __      __        ♟
4     __        ♟   __    __      __      __      __      __
5       ♕     __      ♙   __      __      __      __      __
6     __      __    __      ♙     __        ♘     __      __
7       ♙       ♗   __    __      __      __        ♙       ♙
8     __      __      ♖   __      __      __        ♔     __

3 0 3 4

        A       B     C     D       E       F       G       H
1     __      __    __    __      __      __        ♚     __
2     __      __    __    __        ♞     __        ♟     __
3       ♟       ♝   __    __      __      __      __        ♟
4     __        ♟   __    __      __      __      __      __
5       ♕     __      ♙     ♜     __      __      __      __
6     __      __    __      ♙     __        ♘     __      __
7       ♙       ♗   __    __      __      __        ♙       ♙
8     __      __      ♖   __      __      __        ♔     __

1 6 3 4

        A       B     C     D       E       F       G       H
1     __      __    __    __      __      __        ♚     __
2     __      __    __    __        ♞     __        ♟     __
3       ♟       ♝   __    __      __      __      __        ♟
4     __        ♟   __    __      __      __      __      __
5       ♕     __      ♙     ♗     __      __      __      __
6     __      __    __      ♙     __        ♘     __      __
7       ♙     __    __    __      __      __        ♙       ♙
8     __      __      ♖   __      __      __        ♔     __

4 3 3 4

        A       B     C     D       E       F       G       H
1     __      __    __    __      __      __        ♚     __
2     __      __    __    __        ♞     __        ♟     __
3       ♟       ♝   __    __      __      __      __        ♟
4     __        ♟   __    __      __      __      __      __
5       ♕     __      ♙   __      __      __      __      __
6     __      __    __      ♙     __        ♘     __      __
7       ♙     __    __    __      __      __        ♙       ♙
8     __      __      ♖   __      __      __        ♔     __

0 4 1 5

        A     B     C     D       E       F       G       H
1     __    __    __    __      __      __        ♚     __
2     __    __    __    __        ♞     __        ♟     __
3       ♟     ♝   __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __      __
6     __      ♕   __      ♙     __        ♘     __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

4 1 2 0

        A     B     C     D       E       F       G       H
1     __    __      ♞   __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟     ♝   __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __      __
6     __      ♕   __      ♙     __        ♘     __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

4 4 4 3

        A     B     C     D       E       F       G       H
1     __    __      ♞   __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟     ♝   __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __      __
6     __      ♕   __      ♙     __        ♘     __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

5 2 5 3

        A     B     C     D       E       F       G       H
1     __    __      ♞   __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟     ♝   __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __      __
6     __      ♕   __      ♙     __        ♘     __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

5 5 7 4

        A     B     C     D       E       F       G       H
1     __    __      ♞   __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟     ♝   __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __      ♕   __      ♙     __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

5 3 6 3

        A     B     C     D       E       F       G       H
1     __    __      ♞   __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟     ♝   __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __      ♕   __      ♙     __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

7 4 5 5

        A     B     C     D       E       F       G       H
1     __    __      ♞   __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟     ♝   __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __      __
6     __      ♕   __      ♙     __        ♘     __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

6 3 5 3

        A     B     C     D       E       F       G       H
1     __    __      ♞   __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟     ♝   __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __      __
6     __      ♕   __      ♙     __        ♘     __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

1 5 0 4

        A     B     C     D       E       F       G       H
1     __    __      ♞   __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟     ♝   __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5       ♕   __      ♙   __      __      __      __      __
6     __    __    __      ♙     __        ♘     __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

1 2 2 1

        A     B     C     D       E       F       G       H
1     __    __      ♞   __      __      __        ♚     __
2     __    __      ♝   __      __      __        ♟     __
3       ♟   __    __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5       ♕   __      ♙   __      __      __      __      __
6     __    __    __      ♙     __        ♘     __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

0 4 4 0

        A     B     C     D       E       F       G       H
1     __    __      ♞   __        ♕     __        ♚     __
2     __    __      ♝   __      __      __        ♟     __
3       ♟   __    __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __      __
6     __    __    __      ♙     __        ♘     __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

6 0 7 1

        A     B     C     D       E       F       G       H
1     __    __      ♞   __        ♕     __      __      __
2     __    __      ♝   __      __      __        ♟       ♚
3       ♟   __    __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __      __
6     __    __    __      ♙     __        ♘     __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

5 5 7 4

        A     B     C     D       E       F       G       H
1     __    __      ♞   __        ♕     __      __      __
2     __    __      ♝   __      __      __        ♟       ♚
3       ♟   __    __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __      ♙     __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

5 3 3 5

        A     B     C     D       E       F       G       H
1     __    __      ♞   __        ♕     __      __      __
2     __    __      ♝   __      __      __        ♟       ♚
3       ♟   __    __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

4 0 5 1

        A     B     C     D       E       F       G       H
1     __    __      ♞   __      __      __      __      __
2     __    __      ♝   __      __        ♕       ♟       ♚
3       ♟   __    __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

2 1 4 3

        A     B     C     D       E       F       G       H
1     __    __      ♞   __      __      __      __      __
2     __    __    __    __      __        ♕       ♟       ♚
3       ♟   __    __    __      __      __      __        ♟
4     __      ♟   __    __        ♝     __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

4 7 4 3

        A     B     C     D       E       F       G       H
1     __    __      ♞   __      __      __      __      __
2     __    __    __    __      __        ♕       ♟       ♚
3       ♟   __    __    __      __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

2 0 3 2

        A     B     C     D       E       F       G       H
1     __    __    __    __      __      __      __      __
2     __    __    __    __      __        ♕       ♟       ♚
3       ♟   __    __      ♞     __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

5 1 6 2

        A     B     C     D       E       F       G       H
1     __    __    __    __      __      __      __      __
2     __    __    __    __      __      __        ♟       ♚
3       ♟   __    __      ♞     __      __        ♕       ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

7 1 6 0

        A     B     C     D       E       F       G       H
1     __    __    __    __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟   __    __      ♞     __      __        ♕       ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

6 2 3 2

        A     B     C     D       E       F       G       H
1     __    __    __    __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟   __    __      ♕     __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

0 0 5 0

        A     B     C     D       E       F       G       H
1     __    __    __    __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟   __    __      ♕     __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __      ♖   __      __      __        ♔     __

2 7 4 7

        A     B     C     D       E       F       G       H
1     __    __    __    __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟   __    __      ♕     __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __    __    __        ♖     __        ♔     __

3 5 3 6

        A     B     C     D       E       F       G       H
1     __    __    __    __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟   __    __      ♕     __      __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __    __    __        ♖     __        ♔     __

3 2 4 2

        A     B     C     D       E       F       G       H
1     __    __    __    __      __      __        ♚     __
2     __    __    __    __      __      __        ♟     __
3       ♟   __    __    __        ♕     __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __    __    __        ♖     __        ♔     __

6 0 7 0

        A     B     C     D       E       F       G       H
1     __    __    __    __      __      __      __        ♚
2     __    __    __    __      __      __        ♟     __
3       ♟   __    __    __        ♕     __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __        ♘
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __    __    __        ♖     __        ♔     __

7 4 6 2

        A     B     C     D       E       F       G       H
1     __    __    __    __      __      __      __        ♚
2     __    __    __    __      __      __        ♟     __
3       ♟   __    __    __        ♕     __        ♘       ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __      __
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __    __    __        ♖     __        ♔     __

7 0 7 1

        A     B     C     D       E       F       G       H
1     __    __    __    __      __      __      __      __
2     __    __    __    __      __      __        ♟       ♚
3       ♟   __    __    __        ♕     __        ♘       ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __      __
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __    __    __        ♖     __        ♔     __

6 2 5 0

        A     B     C     D       E       F       G       H
1     __    __    __    __      __        ♘     __      __
2     __    __    __    __      __      __        ♟       ♚
3       ♟   __    __    __        ♕     __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __      __
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __    __    __        ♖     __        ♔     __

4 1 4 3

        A     B     C     D       E       F       G       H
1     __    __    __    __      __        ♘     __      __
2     __    __    __    __      __      __        ♟       ♚
3       ♟   __    __    __        ♕     __      __        ♟
4     __      ♟   __    __      __      __      __      __
5     __    __      ♙   __      __      __      __      __
6     __    __    __    __      __      __      __      __
7       ♙   __    __    __      __      __        ♙       ♙
8     __    __    __    __        ♖     __        ♔     __

4 6 4 5

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __      ♕     __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __      ♙   __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

3 1 3 3

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __      ♕     __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __      ♙   __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

3 6 3 4

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __      ♕     __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __      ♙   __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

4 3 4 4

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __      ♕     __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __      ♙   __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

2 6 2 4

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __      ♕     __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

2 1 2 2

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __      ♕     __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

1 7 2 5

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __      ♕     __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

6 0 5 2

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __      ♕     __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

3 7 1 5

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __      ♕     __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

2 0 4 2

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

1 5 1 1

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

1 0 3 1

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

2 4 3 3

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

2 2 3 3

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __      ♟   __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

2 5 1 3

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __    __    __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

0 0 1 0

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __    __    __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

1 1 0 1

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __    __    __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

3 0 1 2

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __    __    __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

0 1 1 2

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __    __    __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

3 1 1 2

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __    __    __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

1 3 2 1

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __    __    __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

4 0 3 0

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __    __    __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

2 1 4 2

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __    __    __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

5 1 4 2

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __    __    __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __    __      __        ♙       ♙
8     __    __    __    __      ♖     __        ♔     __

6 7 4 6

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __    __    __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __      ♔     __        ♙       ♙
8     __    __    __    __      ♖     __      __      __

1 2 2 4

        A     B     C     D     E       F       G       H
1     __    __    __    __    __        ♘     __      __
2     __    __    __    __    __      __        ♟       ♚
3       ♟   __    __    __    __      __      __        ♟
4     __    __    __    __    __      __      __      __
5     __    __    __    __    __      __      __      __
6     __    __    __    __    __      __      __      __
7       ♙   __    __    __      ♔     __        ♙       ♙
8     __    __    __    __      ♖     __      __      __

4 6 5 4

        A     B     C     D     E     F       G       H
1     __    __    __    __    __      ♘     __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __      ♔     __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

4 2 4 3

        A     B     C     D     E     F       G       H
1     __    __    __    __    __      ♘     __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __      ♔     __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

3 4 4 3

        A     B     C     D     E     F       G       H
1     __    __    __    __    __      ♘     __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __      ♔     __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

2 4 4 3

        A     B     C     D     E     F       G       H
1     __    __    __    __    __      ♘     __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __      ♔     __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

5 4 4 2

        A     B     C     D     E     F       G       H
1     __    __    __    __    __      ♘     __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __      ♔   __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

3 0 4 1

        A     B     C     D     E     F       G       H
1     __    __    __    __    __      ♘     __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __      ♔   __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

4 2 5 0

        A     B     C     D     E     F       G       H
1     __    __    __    __    __      ♔     __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

7 0 5 0

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

1 6 1 5

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

4 3 3 1

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

2 7 0 5

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

4 1 4 3

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

4 6 4 5

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

6 0 5 2

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

3 6 3 4

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

4 3 3 4

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

4 5 3 4

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

3 0 4 1

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

5 7 4 6

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

1 0 2 2

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

6 7 5 5

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

3 1 3 3

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __      ♖   __      __      __

4 7 6 7

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __        ♟       ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

6 1 6 3

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __        ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __        ♟     __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

2 7 6 3

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __        ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

5 0 6 1

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __        ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

1 7 3 6

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __        ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

4 0 6 0

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __        ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

2 6 2 5

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __        ♚
3       ♟   __    __    __    __    __      __        ♟
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

7 1 7 2

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __      __
3       ♟   __    __    __    __    __      __        ♚
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

6 3 7 4

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __      __
3       ♟   __    __    __    __    __      __        ♚
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

2 0 5 3

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __      __
3       ♟   __    __    __    __    __      __        ♚
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

5 7 4 7

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __      __
3       ♟   __    __    __    __    __      __        ♚
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

5 0 4 0

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __      __
3       ♟   __    __    __    __    __      __        ♚
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

4 6 3 5

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __      __
3       ♟   __    __    __    __    __      __        ♚
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

5 3 4 2

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __      __
3       ♟   __    __    __    __    __      __        ♚
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

3 6 1 5

        A     B     C     D     E     F       G       H
1     __    __    __    __    __    __      __      __
2     __    __    __    __    __    __      __      __
3       ♟   __    __    __    __    __      __        ♚
4     __    __    __    __    __    __      __      __
5     __    __    __    __    __    __      __      __
6     __    __    __    __    __    __      __      __
7       ♙   __    __    __    __    __        ♙       ♙
8     __    __    __    __    __    __        ♖     __

5 2 6 4

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __      __
7       ♙   __    __    __    __    __      ♙       ♙
8     __    __    __    __    __    __      ♖     __

7 6 7 5

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

6 4 5 2

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

1 5 2 3

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

1 1 1 2

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

2 3 4 2

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

5 1 4 2

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

3 5 5 3

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

2 2 3 0

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

5 5 3 6

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

4 1 3 1

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

5 3 3 5

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

2 1 2 3

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

3 4 2 3

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

1 2 2 3

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5     __    __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7       ♙   __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

0 6 0 4

        A     B     C     D     E     F     G       H
1     __    __    __    __    __    __    __      __
2     __    __    __    __    __    __    __      __
3       ♟   __    __    __    __    __    __        ♚
4     __    __    __    __    __    __    __      __
5       ♙   __    __    __    __    __    __      __
6     __    __    __    __    __    __    __        ♙
7     __    __    __    __    __    __      ♙     __
8     __    __    __    __    __    __      ♖     __

0 1 0 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

3 5 1 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

3 0 2 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

3 7 2 6

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

0 0 3 0

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

1 3 2 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

3 1 2 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

2 6 6 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

4 2 4 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

4 7 4 5

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

3 3 3 4

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

4 5 5 5

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

4 0 4 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

3 6 2 4

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

3 0 0 0

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

5 5 6 5

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

0 0 0 1

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

2 4 4 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

4 1 4 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

4 6 4 5

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

3 0 7 4

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __    __        ♙
7   __    __    __    __    __    __      ♙     __
8   __    __    __    __    __    __      ♖     __

6 6 6 5

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __      ♖     __

7 4 4 4

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __      ♖     __

6 7 5 5

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __      ♖     ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

3 1 3 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __      ♖     ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

3 6 3 5

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __      ♖     ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

4 4 1 4

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __      ♖     ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

2 7 3 6

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __      ♖     ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

1 4 1 6

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __      ♖     ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

3 6 2 5

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __      ♖     ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

1 6 1 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __      ♖     ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

5 5 4 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __      ♖   __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

1 2 4 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __      ♖   __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

1 7 3 6

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __      ♖   __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

5 1 5 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __      ♖   __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

4 3 5 5

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __      ♖     ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

5 0 3 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __      ♖     ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

5 7 6 6

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __      ♖     ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

4 2 5 1

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __      ♖     ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

5 5 7 4

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __        ♖
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

6 1 6 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __        ♖
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

7 4 5 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __      ♖   __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

5 1 6 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __      ♖   __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

5 3 3 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __      ♖   __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

2 1 3 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

6 6 3 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

1 0 2 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

3 6 2 4

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

2 0 4 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

4 1 4 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

4 6 4 4

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

6 0 5 2

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

1 7 2 5

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

5 0 2 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

6 7 5 5

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

5 2 6 4

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

3 7 4 6

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

4 0 6 0

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

5 5 4 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

6 4 4 3

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙       ♙
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

7 6 7 5

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙     __
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

5 0 4 0

      A     B     C     D     E     F     G       H
1   __    __    __    __    __    __    __      __
2   __    __    __    __    __    __    __      __
3     ♟   __    __    __    __    __    __        ♚
4   __    __    __    __    __    __    __      __
5     ♙   __    __    __    __    __    __      __
6   __    __    __    __    __    __      ♙     __
7   __    __    __    __    __    __    __      __
8   __    __    __    __    __    __    __      __

4 6 7 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 1 6 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

7 3 3 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 3 2 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 7 2 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 0 7 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 7 6 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 1 5 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 6 3 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 3 4 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 5 4 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 0 5 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 7 3 6

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 2 3 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

1 6 1 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 0 7 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 5 3 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 2 6 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 7 1 6

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 3 6 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

1 6 3 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 3 3 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 6 3 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 0 5 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

7 5 6 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

7 4 6 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 4 5 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 4 6 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 2 3 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 1 5 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 1 4 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 6 4 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 0 5 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

1 7 2 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 0 2 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 7 5 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

1 0 2 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 7 2 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 0 6 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 7 6 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 2 4 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 6 3 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 1 3 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 5 4 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 0 5 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 5 3 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 2 6 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 4 1 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 0 7 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __      ♙   __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 6 6 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

7 5 5 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

1 3 2 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 2 4 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 7 5 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

1 1 2 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 3 2 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 2 5 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 7 5 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

0 0 3 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 7 6 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 2 6 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 3 3 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __      ♚
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

7 1 7 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 0 4 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 0 5 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 5 7 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 2 6 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 1 5 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 0 5 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

7 4 5 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 2 6 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 5 6 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 4 5 6

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 3 7 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 0 6 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 7 7 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 0 7 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

7 3 5 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 3 4 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 5 3 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 6 3 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

0 7 3 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 1 4 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 6 4 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 0 5 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

1 7 2 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 0 2 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 7 5 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

1 0 2 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 7 2 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 0 6 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 7 6 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 2 4 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 5 4 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 0 5 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 7 6 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 1 3 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 4 6 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 3 2 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 5 3 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 2 3 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 6 3 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 1 6 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 7 7 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 0 5 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

7 2 5 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 0 5 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 3 5 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 0 6 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 2 7 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 1 7 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

7 3 5 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 2 3 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 5 4 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 4 2 6

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 5 2 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 6 0 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 7 0 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 4 3 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 7 3 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 3 4 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 2 3 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 1 3 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

0 7 2 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 1 2 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 3 4 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 0 4 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 5 2 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 2 2 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 7 2 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

1 1 1 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 3 2 5

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3     ♟   __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 0 0 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 7 3 7

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

0 2 4 6

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 7 3 6

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 6 0 2

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 5 6 4

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 0 3 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

3 6 3 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

7 0 6 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

2 5 4 3

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 1 5 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 3 4 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

5 0 6 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

4 1 5 1

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

6 1 7 0

      A     B     C     D     E     F     G     H
1   __    __    __    __    __    __    __    __
2   __    __    __    __    __    __    __    __
3   __    __    __    __    __    __    __    __
4   __    __    __    __    __    __    __    __
5     ♙   __    __    __    __    __    __    __
6   __    __    __    __    __    __    __    __
7   __    __    __    __    __    __    __    __
8   __    __    __    __    __    __    __    __

9 9 9 9

KeyError: 9

9